@use "../abstracts";

html.dark {
    --primary-font-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(28%)
        saturate(2%) hue-rotate(234deg) brightness(111%) contrast(100%);

    --body-bg-color: #292e39;
    --header-bg-color: #171c28;
    --header-shadow: rgba(0, 0, 0, 0.2);
    --footer-secondary-font-color: #9e9da6;
    --nav-bg-color: #292e39;
    --nav-shadow: rgba(23, 28, 40, 0.4);
    --nav-font-color: #b9babe;
    --nav-icon-color: brightness(0) saturate(100%) invert(81%) sepia(5%)
        saturate(155%) hue-rotate(191deg) brightness(92%) contrast(91%);
    --top-action-group-bg-color: #292e39;
    --top-action-group-shadow: rgba(0, 0, 0, 0.08);
    --top-action-group-separator: #ededf6;

    // Dropdown
    --dropdown-bg-color: #313744;
    --dropdown-shadow: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(21%) sepia(4%)
        saturate(2957%) hue-rotate(183deg) brightness(90%) contrast(93%);
    --top-menu-main-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(90%) sepia(8%)
        saturate(772%) hue-rotate(203deg) brightness(109%) contrast(95%);

    // Browse Category
    --cate-item-bg-color: #171c28;
    --cate-item-thumb-bg-color: #292e39;
    --cate-item-heading-color: #fff;

    // Filter btn
    --filter-btn-bg-color: #171c28;
    --filter-btn-font-color: #fff;

    // Product item
    --product-item-bg-color: #171c28;
    --product-item-shadow: rgba(0, 0, 0, 0.2);

    // Filter form
    --filter-form-bg-color: #fff;
    --filter-form-bg-color: #292e39;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --filter-tag-bg-color: #171c28;
    --filter-form-icon: brightness(0) saturate(100%) invert(14%) sepia(21%)
        saturate(669%) hue-rotate(183deg) brightness(88%) contrast(86%);

    // Like btn
    --like-btn-bg-color: #292e39;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    // Btns
    --btn-outline-border-color: #b9babe;

    // Auth
    --auth-primary-font-color: #b9babe;
    --auth-bg-color1: #292e39;
    --auth-bg-color2: #171c28;
    --auth-bg-color3: #171c28;
    --auth-form-color: #b9babe;
    --auth-form-checkbox-color: #b9babe;
    --auth-icon-filter: brightness(0) saturate(100%) invert(92%) sepia(6%)
        saturate(129%) hue-rotate(191deg) brightness(82%) contrast(85%);

    // Messages
    --success-bg-color: #37795595;
    --success-border-color: #08a955;
}
