@use "../abstracts";

html {
    --primary-font-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(10%) sepia(30%) saturate(920%) hue-rotate(210deg) brightness(95%) contrast(102%);

    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --header-shadow: rgba(237, 237, 246, 0.2);
    --nav-bg-color: #fff;
    --nav-shadow: rgba(200, 200, 200, 0.40);    
    --top-action-group-bg-color: #fff;
    --top-action-group-shadow: rgba(237, 237, 246, 0.2);
    --top-action-group-separator: #EDEDF6;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.40);
    --top-menu-main-border-color: #D2D1D6;

    // Browse Category
    --cate-item-bg-color: #eee;
    --cate-item-thumb-bg-color: #fff;
    --cate-item-heading-color: #000;

    // Filter btn
    --filter-btn-bg-color: #fff;
    --filter-btn-font-color: #6c6c72;

    // Product item
    --product-item-bg-color: #fff;
    --product-item-shadow: rgba(237, 237, 246, 0.20)

    // Like btn
    --like-btn-bg-color: #fff;
    --like-btn-shadow: rgba(124, 124, 124, 0.20);

    @include abstracts.screen('lg') {
        --header-bg-color: #FFF;
    }

    @include abstracts.screen('md') {
        --cate-item-bg-color: #FFF;
    }
}