@use "../abstracts";

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}   

body {
    font-family: Gordita, sans-serif;
    background: var(--body-bg-color);
}

input, select, button, textarea, a, img {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    -webkit-tap-highlight-color: transparent;
}

.icon {
    filter: var(--icon-color);
}

.container {
    @include abstracts.screen("sm") {
        --grid-gutter-x: 40px;
    }
}