<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__column footer__column--first">
                <a href="./" class="logo footer__logo">
                    <img
                        src="./assets/icons/logo.svg"
                        alt="logo"
                        class="logo__img"
                    />
                    <h1 class="logo__title">grocerymart</h1>
                </a>

                <p class="footer__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quam, maxime et veniam eligendi rem voluptatibus.
                </p>
                <form action="" class="footer__form">
                    <label for="email" class="footer__form-label"
                        >Receive product news and updates.</label
                    >
                    <div class="footer__form-row">
                        <input
                        type="email"
                        name="email"
                        id="email"
                        class="footer__form-input"
                        placeholder="Your email address"
                    />
                    <button class="btn btn--primary footer__form-btn">SEND</button>
                    </div>
                </form>
            </div>
            <div class="footer__column">
                <h3 class="footer__heading">Shop</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">All Departments</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Fashion Deals</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Electronics Discounts</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Home & Living Specials</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Beauty Bargains</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__heading">Support</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Store locator</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Order status</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__heading">Company</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Customer Service</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Terms of Use</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Privacy</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Careers</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Affiliates</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__heading">Contact</h3>
                <ul class="footer__list">
                    <li class="footer__item footer__item--last-column">
                        <p class="footer__contact">Email</p>
                        <a href="#!" class="footer__link"
                            >contact@grocerymart.com</a
                        >
                    </li>
                    <li class="footer__item footer__item--last-column">
                        <p class="footer__contact">Hotline</p>
                        <a href="#!" class="footer__link">18008888</a>
                    </li>
                    <li class="footer__item footer__item--last-column">
                        <p class="footer__contact">Address</p>
                        <p class="footer__contact-text">
                            No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa
                            Ward, Cau Giay District, City. Hanoi
                        </p>
                    </li>
                    <li class="footer__item footer__item--last-column">
                        <p class="footer__contact">Hours</p>
                        <p class="footer__contact-text">
                            M - F 08:00am - 06:00pm
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__bottom">
            <p class="footer__copyright">
                © 2010 - 2025 Grocery Mart. All rights reserved.
            </p>
            <div class="footer__social">
                <a href="#!" class="footer__social-link footer__social-link--fb">
                    <img
                        src="./assets/icons/facebook.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
                <a href="#!" class="footer__social-link footer__social-link--yt">
                    <img
                        src="./assets/icons/youtube.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
                <a href="#!" class="footer__social-link footer__social-link--tw">
                    <img
                        src="./assets/icons/twitter.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
                <a href="#!" class="footer__social-link footer__social-link--tt">
                    <img
                        src="./assets/icons/tiktok.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
                <a href="#!" class="footer__social-link footer__social-link--li">
                    <img
                        src="./assets/icons/linkedin.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
            </div>
        </div>
    </div>
</div>
